.buy-wrapper
  .buy-header
    = link_to root_path do
      = image_tag asset_path("logo.png"), size: "185x49"
  .buy-body
    .buy-main
      %h2.buy-main-head
        購入内容の確認
      .buy-container
        .buy-content
          .buy-item-container
            .buy-item-container__box
              .buy-item-container__box__img
                = image_tag @exhibition.images.last.image.url,class:"main__show__content__top__itemInfo__image__ul__li__top"
              .buy-item-container__box__detail
                %p.buy-item-container__box__detail__name
                  = @exhibition.item_name
                .buy-item-container__box__detail__price
                  %span.buy-item-container__box__detail__price__number
                    %p￥
                    = @exhibition.price
                  %span.buy-item-container__box__detail__price__tax
                    （税込）送料込み
        .buy-content
          .buy-pay
            .buy-pay__box
              .buy-pay__box__container
                .buy-pay__box__container__price
                  .buy-pay__box__container__price__text
                    支払い金額
                  .buy-pay__box__container__price__right
                    %p￥
                    = @exhibition.price
                .buy-pay__box__container__check
                  .buy-pay__box__container__check__btn
                  = form_with local: true do |form|
                    = form.check_box :content, class:'check-btn'
                    %label.label
                      ポイントを使用 (所持ポイント: P0)
              .buy-pay__box__container
                .buy-pay__box__container__fee
                  %h3.buy
                    支払い方法
                  .buy-pay__box__container__fee__price
                    = link_to '変更する', '/', class: "buy-link__change"
                %p.buy-pay__box__container__credit
                  クレジットカード
                  %br
                    = "**** **** **** " + @default_card_information.last4
                  %br 
                    - exp_month = @default_card_information.exp_month.to_s
                    - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                    = "有効期限 " + exp_month + " / " + exp_year
                .buy-pay__box__container__card
                  -# = image_tag src="https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?35314277", size: "49x15"
              .buy-pay__box__container__ship
                .buy-pay__box__container__ship__head
                  %h3.buy
                    配送先
                  .buy-pay__box__container__ship__head__price
                    = link_to '変更する', '/', class: "buy-link__change"
                .buy-pay__box__container__ship__price
                  %p
                    = "〒" + current_user.address.postal_code
                    %br
                      = current_user.address.prefectures + current_user.address.municipalities + current_user.address.house_number
                    %br
                      = current_user.address.ship_family_name + current_user.address.ship_last_name
              .buy-btn
                .buy-btn__container
                  = form_tag pay_exhibition_path(@exhibition.id), local: true, method: :post
                  %button 購入する


  .sell-footer
    .sell-footer__container
      .sell-footer__container__box
        %ul.footer-ul
          %li.footer-li
            = link_to 'プライバシーポリシー', '/', class: "buy-link"
          %li.footer-li
            = link_to 'メルカリ利用規約', '/', class: "buy-link"
          %li.footer-li
            = link_to '特定商取引に関する表記', '/', class: "buy-link"
      .sell-footer__container__image
        = image_tag src="http://furima.tokyo/assets/logo-white-f61961ed5170064c5f33dd4524bdceeb5a5df2c83eb76fba31143f63fbab2c5e.svg", size: "160x46"
      .sell-footer__container__inc
        © FURIMA 
