.top
  = render partial: "layouts/top-header", locals: { exhibition: @exhibition }
  .top-upper 
    .upper-contents

  .top-item-contents
    .top-item-contents__box
      .top-item-contents__box__array
        - @exhibitions.each do |exhibition|
          .top-item-contents__box__array__content
            = link_to "ルート確保用商品詳細ページへ", exhibition_path(exhibition.id), method: :get
            = exhibition.price
            = exhibition.item_name
            
  .top-footer 
    = render "layouts/top-footer"
  = render "shared/sell_page_box"
