.top
  = render partial: "layouts/top-header", locals: { exhibition: @exhibition }
 
  .top-upper 
    .upper-contents
      .upper-contents__box
        %h2.topic-first
          人生を変えるフリマアプリ
        %h3.topic-second
          FURIMAはだれでもかんたんに出品・購入できる
        %h4.topic-second
          フリマアプリです
        .topic-items
          =link_to "#", class: "topic-items__App", size: '180x53' do
            = image_tag asset_path("logo.png"),size: '180x53'
          =link_to "#",class: "topic-items__Google", size: '180x53' do
            = image_tag asset_path("logo.png"),size: '180x53'
  .top-content-text
    %h2.top-introduction
      FURIMAが選ばれる3つの理由
    .top-content-imageBox
      %ul.lists-imageBox
        %li.list-imageBox
          .list-imageBox__image
            = image_tag asset_path("logo.png"), size: "180x53"
        %li.list-imageBox
        %li.list-imageBox


  .top-item-contents
    .top-item-contents__box
      .top-item-contents__box__array
        - @exhibitions.each do |exhibition|
          .top-item-contents__box__array__content
            = link_to "ルート確保用商品詳細ページへ", exhibition_path(exhibition.id), method: :get
            = exhibition.price
            = exhibition.item_name
            

  .top-footer
    .footer-contents
      .footer-box
        FURIMAについて
        .box-link
          = link_to "#", class: "aaa" do
            会社概要 （運営会社）
        .box-link
          = link_to "#", class: "aaa" do
            プライバシー
        .box-link
          = link_to "#", class: "aaa" do
            FURIMA利用規約
        .box-link
          = link_to "#", class: "aaa" do
            ポイントに関する特約
      .footer-box
        FURIMAを観る
        .box-link
          = link_to "#", class: "aaa" do
            カテゴリー一覧
        .box-link
          = link_to "#", class: "aaa" do
            ブランド一覧
      .footer-box
        ヘルプ＆ガイド
        .box-link
          = link_to "#", class: "aaa" do
            FURIMAガイド
        .box-link
          = link_to "#", class: "aaa" do
            FURIMAロゴ利用ガイドライン
        .box-link
          = link_to "#", class: "aaa" do
            お知らせ
  
    .footer-icon-box
      .footer-icon
        = image_tag src ="http://furima.tokyo/assets/logo-white-f61961ed5170064c5f33dd4524bdceeb5a5df2c83eb76fba31143f63fbab2c5e.svg"
      .footer-second-icon
        &#169;FURIMA
  = render "shared/sell_page_box"

        
