.sell-wrapper
  .sell-header
    = link_to root_path do
      = image_tag asset_path("logo.png"), size: "185x49"
  .sell-body
    .sell-main
      %h2.sell-main-head
        商品の情報を入力

      = form_with(model:@exhibition, url: exhibitions_path, method: :post, local: true, class: "sell-form", id: "item-dropzone") do |form|
        .sell-img-box
          .sell-img-box__upload
            .sell-img-box__upload__title
              出品画像
              %span.require
                必須
            .sell-img-box__upload__text
              最大10枚までアップロードできます
        #previews
          = form.fields_for :images, class: "form-image" do |image|
            #image-input
              = image.label :image, class: "upload-area error-image", for: "upload-for" do
                .file-group{data:{index:image.index}}
                  = image.file_field :image, class: "upload-file", id: "upload-for"
                  %i.fa.fa-camera-retro#camera
        .sell-content
          .sell-name
            .sell-name__head
              .sell-name__head__text
                商品名
                %span.require
                  必須
            .sell-name__form
              = form.text_field :item_name, placeholder: "商品名（必須40文字まで）", class:'sell-form__default error-item-name'
              .must-message__item-name.error
            .sell-description
              .sell-description__head
                .sell-description__head__text
                  商品の説明
                  %span.require
                    必須
              .sell-description__form
                = form.text_area :item_description, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class:'sell-textarea-default error-item-description'
                .must-message__item-description.error
        .sell-content
          .sell-details
            .sell-details__text
              商品の詳細
            .sell-details__box
              .sell-details__box__category
                カテゴリー
                %span.require
                  必須
                .sell-select-wrap
                  .sell-select-icon
                    = form.collection_select :root_category_id, @categories, :id, :item, { prompt: "---" }, { class: "sell-select-default error-category", id: "category_select" }
                    = icon('fas', 'chevron-down sell-select-icon__allow')
                  .must-message__category.error
                .sell-select-children
              .sell-brand
                .sell-brand__head
                  .sell-brand__head__text
                    ブランド名
                    %span.require--brand
                      任意
                .sell-brand__form
                  = form.text_field :brand, placeholder: "例 )シャネル", class:'sell-form__brand'
              .sell-details__box__status
                商品の状態
                %span.require
                  必須
                .sell-select-wrap
                  .sell-select-icon
                    = form.select :item_status, [["新品、未使用"],["未使用に近い"],["目立った傷や汚れなし"]], { prompt: "選択してください" }, class:'sell-select-default error-status'
                    = icon('fas', 'chevron-down sell-select-icon__allow')
                  .must-message__status.error
        .sell-content
          .sell-ship
            .sell-ship__text
              配送について
            .sell-ship__box
              .sell-ship__box__category
                配送料の負担
                %span.require
                  必須
                .sell-select-wrap
                  .sell-select-icon
                    = form.select :shipping_charges, [["送料込み（出品者負担）"],["着払い（購入者負担）"]], { prompt: "選択してください" }, class:'sell-select-default error-shipping-charge'
                    = icon('fas', 'chevron-down sell-select-icon__allow')
                  .must-message__shipping-charge.error
              .sell-ship__box__status
                発送元の地域
                %span.require
                  必須
                .sell-select-wrap
                  .sell-select-icon
                    = form.collection_select(:prefecture_id, Prefecture.all, :id, :name, {prompt: "---"}, {class: "sell-select-default error-shipping-area"})
                    = icon('fas', 'chevron-down sell-select-icon__allow')
                  .must-message__shipping-area.error
              .sell-ship__box__status
                発送までの日数
                %span.require
                  必須
                .sell-select-wrap
                  .sell-select-icon
                    = form.select :shipping_date, [["1~2日で発送"],["2~3日で発送"],["4~7日で発送"]], { prompt: "選択してください" }, class:'sell-select-default error-shipping-date'
                    = icon('fas', 'chevron-down sell-select-icon__allow')
                  .must-message__shipping-date.error
        .sell-content
          .sell-price
            .sell-price__left
              販売価格(300〜9,999,999)
            .sell-price__box
              .sell-price__box__container
                .sell-price__box__container__text
                  価格
                  %span.require
                    必須
                .sell-price__box__container__right
                  .sell-price__box__container__right__money
                    ¥
                  .sell-price__box__container__right__select
                    .sell-select-wrap
                      = form.number_field :price, class: "sell-form__number error-price", placeholder: "0", min: 300, max: 9999999
                    .must-message__price.error
              .sell-price__box__fee
                .sell-price__box__fee__text
                  販売手数料 (10%)
                .sell-price__box__fee__tax -
              .sell-price__box__profit
                .sell-price__box__profit__text
                  販売利益
                  %span.require
                    必須
                  .price
                .sell-price__box__profit__price -
        .sell-content
          .sell-btns
            .sell-btns__text
              = link_to '禁止されている出品', '/', class: "sell-link__note"
              、
              = link_to '行為', '/', class: "sell-link__note"
              を必ずご確認ください。
              %br
              またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
              %br
              また、出品をもちまして
              = link_to '加盟店規約', '/', class: "sell-link__note"
              に同意したことになります。
            .sell-btns__btn
              .sell-select-icon
                = form.submit '出品する', class: 'sell-btns__btn__up'
              .sell-btns__btn__back
                = link_to 'もどる', exhibitions_path, class: "sell-link__back"
  .sell-footer
    .sell-footer__container
      .sell-footer__container__box
        %ul.footer-ul
          %li.footer-li
            = link_to 'プライバシーポリシー', '/', class: "buy-link"
          %li.footer-ul
            = link_to 'FURIMA利用規約', '/', class: "buy-link"
          %li.footer-ul
            = link_to '特定商取引に関する表記', '/', class: "buy-link"
      .sell-footer__container__image
        = image_tag asset_path("logo.png"), size: "120x34"
      .sell-footer__container__inc
        © FURIMA