.exhead
  %ul
    %li
      %a{:href => "/"} FURIMA
    %li
      %i.fa.fa-angle-right
    %li
      %a{:href => "#"} ベビー・キッズ
    %li
      %i.fa.fa-angle-right
    %li
      %a{:href => "#"} ベビー服(男女兼用)  ~95cm
    %li
      %i.fa.fa-angle-right
    %li
      %a{:href => "#"} アウター
    %li
      %i.fa.fa-angle-right
    %li
      %p product3

.exmain
  .exmain__top
    .ex-content
      .show-box
        %h2.show-box__name
          = @exhibition.item_name
        .show-box__body
          %ul.main__show__content__top__itemInfo__image__ul
            - @exhibition.images.each_with_index do |image, i|
              = image_tag image.image.url,class:"main__show__content__top__itemInfo__image__ul__li__top"
            - if @exhibition.deal == "SOLDOUT"
              = image_tag asset_path("sold_out.png"), size: "220x130", class: "sold-out"
        .show-box__foot 
          %ul
            %li 
            - objects = @exhibition.images.order("created_at DESC")
            - objects.each do |object|
              %li.main__show__content__top__itemInfo__image__ul__li
                = image_tag object.image.url
        .show-price
          .show-price__number
            %i.fa.fa-yen-sign
              = @exhibition.price
          .show-price__tax
            %span (税込)
          .show-price__shipping
            %span 送料込み
        .show-buy-btn 
        - if user_signed_in? && @exhibition.user_id != current_user.id
          = link_to "購入画面に進む", buy_exhibition_path(@exhibition), class: "show-buy-btn__buy"
          - if @exhibition.deal == "SOLDOUT"
            = link_to "売り切れました トップへ戻る", root_path
          - else
        .show-exbox
          = @exhibition.item_description
        .show-table
          %table
            %tbody
              %tr
                %th 出品者
                %td 
                  = @exhibition.user.nickname
              %tr
                %th カテゴリー
                %td
                  -# - @categories.each do |category|
                  
                  -# = @exhibition.category.item
                  -# = @categories.item
                  -# = @categories.children.id
                  -# = @categories.parent.id
                  =link_to "#{@exhibition.category.root.item}", "#"
                  =link_to ">#{@exhibition.category.parent.item}", "#"
                  =link_to ">#{@exhibition.category.item}","#"
                  -# = @categories.id
                  -# = @children
                  -# = @grandchildren
                  -# = @children.item
                  -# - @exhibition.each do |category|
                  -#   =link_to "#{category.root.item}", "#"
                  -#   =link_to ">#{category.parent.item}", "#"
                  -#   =link_to ">#{category.item}","#"
              %tr
                %th ブランド
                %td
                  = @exhibition.brand
              %tr
                %th 商品の状態
                %td 
                  = @exhibition.item_status
              %tr
                %th 配送料の負担
                %td 
                  = @exhibition.shipping_charges
              %tr
                %th 発送元の地域
                %td
                  = @exhibition.prefecture.name
              %tr
                %th 発送日の目安
                %td 
                  = @exhibition.shipping_date
        .option-table
          %ul
            %li
              #like-btn.option-btn.like-btn
                %i.fa.fa-star
                お気に入り 0
          %ul.report-btn
            %li.report-btn__box
              %a{:href => "#"} 
                %i.fa.fa-flag
                不適切な商品の通報
        .show-user-btn
          - if user_signed_in? && @exhibition.user_id == current_user.id
            = link_to "編集画面に進む", edit_exhibition_path(@exhibition), class: "show-user-btn__edit"
            = link_to "商品削除", exhibition_path(@exhibition), method: :delete, class: "show-user-btn__delete"

      .excomment-box
        %textarea#comment_body{:name => "comment[body]", :required => "required"}
        %p.message
          相手のことを考え丁寧なコメントを心がけましょう。
          %br/
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %br/
        %button.comment-btn{:name => "button", :type => "submit"}
          %i.fa.fa-comment
          コメントする

      %ul.exlinks
        %li
          %a{:href => "#"}
            %i.fa.fa-angle-left
            %span
            前の商品
        %li
          %a{:href => "#"}
            %span 
            後ろの商品
            %i.fa.fa-angle-right
      .exrelated
        %a{:href => "#"}ベビーキッズをもっと見る  