.top__header
  .top__header__home
    .top__header__home__wrapper
      .top__header__home__wrapper__logo
        = image_tag asset_path("logo.png"),id: "top__header--logo"
      .top__header__home__wrapper__search
        = form_with  model: @exhibition, url: "#", local: true, method: :get, class: "new-message" do |form|
          = form.text_field :keyword, placeholder: "キーワードから探す", class: "search-box" 
          %button{type: "submit", placeholder: "キーワードから探す",class: "search-btn" } 
            %i.fas.fa-search
  .top__header__item
    .top__header__item__type
      .top__header__item__type__category
        .top__header__item__type__category__wrapper
          %i.fas.fa-list-ul.top__header__item__type__category__wrapper__icon
          %p.top__header__item__type__category__wrapper__target カテゴリ
          .top__header__item__type__category__wrapper__flex
            .top__header__item__type__category__wrapper__flex__parents#parents
              - @categories.each do |category|
                = link_to "#", class: "top__header__item__type__category__wrapper__flex__parents__item",id:"parents-item" do
                  .top__header__item__type__category__wrapper__flex__parents__item__text#parents-text{"data-item-id": category.id}
                    #{category.item}
            .top__header__item__type__category__wrapper__flex__children#children
            .top__header__item__type__category__wrapper__flex__grandchildren#grandchildren
      .top__header__item__type__brand  
        %i.fas.fa-tag.top__header__item__type__brand__icon
        %p.top__header__item__type__brand__target ブランド
        %ul.top__header__item__type__brand__navi  
          = link_to "#", class: "top__header__item__type__brand__navi__item" do
            %li.top__header__item__type__brand__navi__item__text{"data-brand-id": "1"}
              シャネル
          = link_to "#", class: "top__header__item__type__brand__navi__item" do
            %li.top__header__item__type__brand__navi__item__text{"data-brand-id": "2"}
              ナイキ
          = link_to "#", class: "top__header__item__type__brand__navi__item" do
            %li.top__header__item__type__brand__navi__item__text{"data-brand-id": "3"}
              ルイ ヴィトン        
          = link_to "#", class: "top__header__item__type__brand__navi__item" do
            %li.top__header__item__type__brand__navi__item__text{"data-brand-id": "4"}
              シュプリーム
          = link_to "#", class: "top__header__item__type__brand__navi__item" do
            %li.top__header__item__type__brand__navi__item__text{"data-brand-id": "5"}
              アディダス
          = link_to "#", class: "top__header__item__type__brand__navi__item" do
            %li.top__header__item__type__brand__navi__item__text{"data-brand-id": "6"}
              ブランド一覧
    .top__header__item__user-function
      - if user_signed_in?
        .top__header__item__user-function__my-page
          = link_to "マイページ", mypage_index_path, method: :get,class:"top__header__item__user-function__my-page__text"
        .top__header__item__user-function__log-out
          = link_to "ログアウト", destroy_user_session_path, method: :delete,class:"top__header__item__user-function__log-out__text"
      - else
        .top__header__item__user-function__new-user
          = link_to "新規登録", new_user_registration_path,class:"top__header__item__user-function__new-user__text"
        .top__header__item__user-function__log-in
          = link_to "ログイン", new_user_session_path,class:"top__header__item__user-function__log-in__text"
