.card-wrapper
  .card-header 
    = link_to root_path do
      = image_tag "logo.png",size:'185x49'
  .card-body
    .mypage__flex__left
      = render "shared/mypage_flex_left"
    .card-contents-registration
      .card-head-registration
        登録クレジットカード情報
      .card-registration
        .card-registration__infomation
          .card-registration__infomation__card-number
            = "**** **** **** " + @default_card_information.last4
          .card-details-registration__infomation__limit-day
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
        = form_tag(delete_cards_path, method: :post, id: 'charge-form',  name: "inputForm", class: "card-delete") do
          %input{ type: "hidden", name: "card_id", value: "",class: "card-delete__button" }
          %button.card-delete__button 削除する
      - if @default_card_information
        .card-submit-box
          登録は一枚のみです。削除後 再登録ページへ移行します。
      - else
        .card-submit-box
          = link_to "クレジットカードを登録する", new_card_path, method: :get, id: "token_submit"
.top  
  .top-footer-box    
    .top-footer
      = render "layouts/top-footer"