.category
  .category__wrapper
    %i.fas.fa-list-ul.category__wrapper__icon
    %p.category__wrapper__target カテゴリから探す
    .category__wrapper__flex
      .category__wrapper__flex__parents
        - @categories.each do |category|
          = link_to "#", class: "category__wrapper__flex__parents__item" do
            .category__wrapper__flex__parents__item__text{"data-item-id": category.id}
              #{category.item}
      .category__wrapper__flex__children
      .category__wrapper__flex__grandchildren

  .category__brand  
    %i.fas.fa-tag.category__brand__icon
    %p.category__brand__target ブランドから探す
    %ul.category__brand__navi  
      = link_to "#", class: "category__brand__navi__item" do
        %li.category__brand__navi__item__text{"data-brand-id": "1"}
          シャネル
      = link_to "#", class: "category__brand__navi__item" do
        %li.category__brand__navi__item__text{"data-brand-id": "2"}
          ナイキ
      = link_to "#", class: "category__brand__navi__item" do
        %li.category__brand__navi__item__text{"data-brand-id": "3"}
          ルイ ヴィトン        
      = link_to "#", class: "category__brand__navi__item" do
        %li.category__brand__navi__item__text{"data-brand-id": "4"}
          シュプリーム
      = link_to "#", class: "category__brand__navi__item" do
        %li.category__brand__navi__item__text{"data-brand-id": "5"}
          アディダス
      = link_to "#", class: "category__brand__navi__item" do
        %li.category__brand__navi__item__text{"data-brand-id": "6"}
          ブランド一覧
