.top-header
  .top-header__left
    .main-header__left__logo
      = image_tag "logo.png",size:'140x40'
    = form_with class: "new-message" do |form|
      = form.text_field :text, placeholder: "キーワードから探す", class: "search-box" 
      %button{:type => "submit", class: "search-btn"}
        %i.fas.fa-search
  .item-header
    .category-box
      = link_to "カテゴリー"
    .bland-box
      = link_to "ブランド"

  
    - if user_signed_in?
      .create-box
        = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      .create-box
        = link_to "ログイン", new_user_session_path
        = link_to "新規登録", new_user_registration_path

      .my-page-link
        = link_to "マイページ" ,mypage_index_path
  