.top-header
  .top-header__left
    .main-header__left__logo
      = image_tag "logo.png",size:'140x40'
    = form_with class: "new-message" do |form|
      = form.text_field :text, placeholder: "キーワードから探す", class: "search-box" 
      %button{:type => "submit", class: "search-btn"}
        %i.fas.fa-search
  .item-header
    .category-box
      = link_to "カテゴリー"
    .bland-box
      = link_to "ブランド"
    .create-box
      = link_to "ログイン" ,user_session_path
    .modern-box
      = link_to "新規会員登録" ,new_user_registration_path
    .my-page-link
      = link_to "マイページ" ,mypage_index_path
  