<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :nickname,"ニックネーム（必須）" %><br />
    <%= f.text_field :nickname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :family_name,"氏（全角で必須）" %><br />
    <%= f.text_field :family_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name,"名（全角で必須）" %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :j_family_name,"苗字カナ（全角で必須）" %><br />
    <%= f.text_field :j_family_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :j_last_name,"名前カナ（全角で必須）" %><br />
    <%= f.text_field :j_last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email,"メールアドレス（a@a.xxのフォーマットでないと弾かれます）" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password,"パスワード（必須）" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上で入力してください。)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation,"パスワード確認用（必須）" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :birth_year,"生年（必須）" %><br />
    <%= f.text_field :birth_year %>
  </div>

  <div class="field">
    <%= f.label :birth_month,"月（必須）" %><br />
    <%= f.text_field :birth_month %>
  </div>

  <div class="field">
    <%= f.label :birth_day,"日（必須）" %><br />
    <%= f.text_field :birth_day %>
  </div>

  <%=f.fields_for :address do |a| %>

  <div class="field">
    <%= a.label :ship_family_name,"送付先氏（全角で必須）" %><br />
    <%= a.text_field :ship_family_name, autofocus: true %>
  </div>

  <div class="field">
    <%= a.label :ship_last_name,"送付先名（全角で必須）" %><br />
    <%= a.text_field :ship_last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= a.label :ship_j_family_name,"送付先氏カナ（全角で必須）" %><br />
    <%= a.text_field :ship_j_family_name, autofocus: true %>
  </div>

  <div class="field">
    <%= a.label :ship_j_last_name,"送付先名カナ（全角で必須）" %><br />
    <%= a.text_field :ship_j_last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= a.label :postal_code,"郵便番号（必須）" %><br />
    <%= a.text_field :postal_code, autofocus: true %>
  </div>

  <div class="field">
    <%= a.label :prefectures,"都道府県（必須）" %><br />
    <%= a.text_field :prefectures, autofocus: true %>
  </div>

  <div class="field">
    <%= a.label :municipalities,"市区町村（必須）" %><br />
    <%= a.text_field :municipalities, autofocus: true %>
  </div>

  <div class="field">
    <%= a.label :house_number,"番地（必須）" %><br />
    <%= a.text_field :house_number, autofocus: true %>
  </div>
  
  <div class="field">
    <%= a.label :building,"建物名（任意）" %><br />
    <%= a.text_field :house_number, autofocus: true %>
  </div>

  <div class="field">
    <%= a.label :phone_number,"電話番号（任意）" %><br />
    <%= a.text_field :house_number, autofocus: true %>
  </div>

  <% end %>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
