.user__registration__wrapper
  .user__registration__header
    .user__registration__header__logo
      = link_to image_tag "/assets/logo.png", size: "185x49", root_path
  .user__registration__main
    .user__registration__main__title
      会員情報入力
    .user__registration__main__contents
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .user--field
          .user--label
            = f.label :nickname,"ニックネーム"
            %span.user__must-input 必須
          = f.text_field :nickname,class:"user__input__default", autofocus: true, placeholder: "例)フリマ太郎"
        .user--field
          .user--label
            = f.label :email,"メールアドレス"
            %span.user__must-input 必須
          = f.email_field :email,class:"user__input__default", autofocus: true, placeholder: "PC・携帯どちらでも可"
        .user--field
          .user--label
            = f.label :password,"パスワード"
            %span.user__must-input 必須
          = f.password_field :password,class:"user__input__default", placeholder: "7文字以上の半角英数字"
        .user--field
          .user--label
            = f.label :password_confirmation,"パスワード確認用"
            %span.user__must-input 必須
          = f.password_field :password_confirmation,class:"user__input__default",placeholder: "もう一度入力してください"
        .user--field
          .user--label
            = f.label :name,"お名前(全角)"
            %span.user__must-input 必須
          = f.text_field :family_name, class:"user__input__default__half",placeholder: "例)山田"
          = f.text_field :last_name, class:"user__input__default__half",placeholder:"太郎"
        .user--field
          .user--label
            = f.label :name,"お名前カナ(全角)"
            %span.user__must-input 必須
          = f.text_field :j_family_name, class:"user__input__default__half",placeholder: "例)ヤマダ"
          = f.text_field :j_last_name, class:"user__input__default__half",placeholder:"タロウ"
        .user--field
          .user--label
            = f.label :birthday,"生年月日"
            %span.user__must-input 必須
          .user__input__select
            = f.select :birth_year,options_for_select((1930..2020),selected: 1990),{},{class: "user__input__default__select"}
            %span 年
          .user__input__select
            = f.select :birth_month,options_for_select(1..12),{},{class: "user__input__default__select"}
            %span 月
          .user__input__select
            = f.select :birth_day,options_for_select(1..31),{},{class: "user__input__default__select"}
            %span 日
        = f.fields_for :address do |a|
          .user--field
            .user--label
              = a.label :name,"送付先 お名前(全角)"
              %span.user__must-input 必須
            = a.text_field :ship_family_name, class:"user__input__default__half",placeholder: "例)渋谷"
            = a.text_field :ship_last_name, class:"user__input__default__half",placeholder:"咲子"
          .user--field
            .user--label
              = a.label :name,"送付先 お名前カナ(全角)"
              %span.user__must-input 必須
            = a.text_field :ship_j_family_name, class:"user__input__default__half",placeholder: "例)シブヤ"
            = a.text_field :ship_j_last_name, class:"user__input__default__half",placeholder:"サキコ"
          .user--field
            .user--label
              = a.label :postal_code,"郵便番号(ハイフンなし半角)"
              %span.user__must-input 必須
            = a.text_field :postal_code,class:"user__input__default", placeholder: "1239876"
          .user--field
            .user--label
              = a.label :prefectures,"都道府県"
              %span.user__must-input 必須
            = a.text_field :prefectures, class:"user__input__default",placeholder: "例)東京都"
          .user--field
            .user--label
              = a.label :municipalities,"市区町村"
              %span.user__must-input 必須
            = a.text_field :municipalities, class:"user__input__default" ,placeholder: "渋谷区神南"
          .user--field
            .user--label
              = a.label :house_number,"番地"
              %span.user__must-input 必須
            = a.text_field :house_number, class:"user__input__default" ,placeholder: "1-99-44"
          .user--field
            .user--label
              = a.label :building,"建物名"
              %span.user__optional-input 任意
            = a.text_field :building,class:"user__input__default",placeholder: "フリマ神南ビル3-104"
          .user--field
            .user--label
              = a.label :phone_number,"電話番号(ハイフンなし半角)"
              %span.user__optional-input 任意
            = a.text_field :phone_number,class:"user__input__default",placeholder: "09011223344"
        .user--actions
          = f.submit "新規登録",class:"user--actions__btn"
    .user__registration__main__footer

