<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :family_name %><br />
    <%= f.text_field :family_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :j_family_name %><br />
    <%= f.text_field :j_family_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :j_last_name %><br />
    <%= f.text_field :j_last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :birth_year %><br />
    <%= f.number_field :birth_year %>
  </div>

  <div class="field">
    <%= f.label :birth_month %><br />
    <%= f.number_field :birth_month %>
  </div>

  <div class="field">
    <%= f.label :birth_day %><br />
    <%= f.number_field :birth_day %>
  </div>

  <%=f.fields_for :address do |a| %>

  <div class="field">
    <%= a.label :ship_family_name %><br />
    <%= a.text_field :ship_family_name, autofocus: true %>
  </div>

  <div class="field">
    <%= a.label :ship_last_name %><br />
    <%= a.text_field :ship_last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= a.label :ship_j_family_name %><br />
    <%= a.text_field :ship_j_family_name, autofocus: true %>
  </div>

  <div class="field">
    <%= a.label :ship_j_last_name %><br />
    <%= a.text_field :ship_j_last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= a.label :postal_code %><br />
    <%= a.text_field :postal_code, autofocus: true %>
  </div>

  <div class="field">
    <%= a.label :prefectures %><br />
    <%= a.text_field :prefectures, autofocus: true %>
  </div>

  <div class="field">
    <%= a.label :municipalities %><br />
    <%= a.text_field :municipalities, autofocus: true %>
  </div>

  <div class="field">
    <%= a.label :house_number %><br />
    <%= a.text_field :house_number, autofocus: true %>
  </div>

  <% end %>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
